{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link href="{% static 'Orders/css/Register.css' %}" rel="stylesheet">
</head>
<body>
<form action="#" method="post">
    <div class="container">
        <div class="title">Registration</div>
        <div class="content">
            <div class="user-details">
                <div class="input-box">

                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}

                    <button>Submit</button>

                </div>
            </div>


        </div>
    </div>
</form>
</body>
</html>